#footer-nav{
   
    width: 100%;
    background-color: white;
    color: black;   

} 
#footer-nav a{
    color: black;
    width: 1.5%;
    color: rgba(43, 41, 45, 0.6);   

}

#footer-nav img{
    width:2%;
    
    
    
}