

.container{
	max-width: 80%;
	/* max-height:auto; */
    margin: 3% auto;
    border: 2px solid rgb(0, 174, 255);  
}
.basketlogo{
    width:3%;
    margin:1% 0 -7% 2.8%;
    
}

.cartlogo{
height:5vh;

}

.logo{
    width:50%;
    height: 10vh;
    margin-left:25%;

}
@media (max-width:500px) {
    .logo{
    width:24%;
    height: 10vh;
    margin-left:40%;
  
    }
}

/* headercover styling starts here */
.top-header .cover{
    width: 100%;
    height: 55vh;
    background-image: url("../img/Hero\ image.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
    margin-bottom: 6%;
     
}
@media (max-width:500px) {
    .top-header .cover{
    height:36vh;
    

    }
}

.title{
    margin: -29% 0 0 27%;
    width:55%;
}
@media (max-width:500px) {
    .title{
     margin:-55% 0 0 25%;
     width:65%;
    }
}



.title button{
display:box;
width: 25%;
height:4.2vh;
margin-left:33%;
font-family: Maven Pro;
font-style: normal;
font-weight: bold;
font-size: 0.8rem;
line-height: 24px;
background: #F46032;
border-radius: 0px 8px 8px 0px

}
@media (max-width:500px) {
    .title button{
        width:50%;
    margin-left:86%; 
    border-radius: 0px 8px 8px 8px; 
   
    }
}

.title input{
    position: absolute;
    background: #F0F0F0;
    /* border-radius: 8px 0px 0px 8px; */
  }
  @media (max-width:500px) {
    .title input{
    display:block; 
    padding:0.6%;    
    }
}
  

.title p{
    line-height:1.5em;
    font-weight: 500;
    color:  rgba(8, 8, 8, 0.877);
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
}
.bold{
  
    font-weight:550;
    
}

  
/* .button{
    box-sizing: border-box;
	width: 15%;
    padding: 2.0%;
    margin: -17% 0 0 10%
}  */
    
  /* top-section styling starts here */

.top-section{
    display: flex;
    justify-content:space-evenly;
    margin-top:10%
 }
 .top-section div{
     width: 50%;
     margin: 1%;  
     line-height:1.5em;
       
}

.top-section img{
    width:30%;
    height: 30vh;

}
/* middle-section styling starts here */
.middle-section{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    margin:4%;
    background-image: url("../img/Dark accent background.png");
    background-size: 100%; 
    background-repeat: no-repeat;
    padding-top:4%;
}
    @media (max-width:500px) {
    .middle-section{
    flex-direction:column;
    background-color:#1F2A4C ;
    }
}

middle-section h2{
color:rgb(252, 250, 250);

}
@media (max-width:500px) {
    .middle-section h2{
   color:white;
   margin-left:25%;
   padding:1%;
  
    }
}


.middle-section div{
    width:23%;
    margin:1%;
    padding:3%;
    background-color: #D8E7ED;
    line-height:1.5em;
}
@media (max-width:500px) {
    .middle-section div{
    width:70%;
    margin:2.5% auto;
    padding: 6% 12% 12% 10%;
    }
}

@media (max-width:500px) {
    .middle-section div:nth-child(1){
    margin:12% 4% 5% auto;
    padding: 6% 10% 12% 12%;
    }
}
@media (max-width:500px) {
    .middle-section div:nth-child(2){
    margin:0 4% 2% auto;
    padding: 6% 12% 10% 10%;
    }
}

/* ------feedback-box styling starts here */
.feedback-box{
    width: 80%;
    height: 45Vh;
    display: flex;
    justify-content: space-between;
    margin: 3% 5% 4% 10%;
    background: #F1F3F6;
    box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1), -30px -30px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}  
@media (max-width:500px) {
    .feedback-box{
    height:25vh;
    }
} 

.feedback-box .image1{
    width:15%;
    margin:15% 0 30% 35%;
}

@media (max-width:500px) {
    .feedback-box .image1{
    margin:15% 0 30% 8%;
    width:10%
    }
}

// .picture-box{
//     display:block;
// }

.feedback-box .image2{
    width: 20%;
    margin: 0 0 10% 20%;

}
@media (max-width:500px) {
    .feedback-box .image2{
    margin:15% 0 30% 0;
    width:20%;
    }
}

.feedback-box .text-box{
    width: 75%;
    margin: 10% 30% 0 0;
    line-height:1.3em;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
}
@media (max-width:500px) {
    .feedback-box .text-box{
    width:350%;
    margin: 0 0 0 -20%;
    font-size:0.8rem;
    
    }
}

/* --bottom-box styling starts here */
.bottom-box-cover{
    width: 100%;
    height: 55vh;
    background-image: url("../img/potatopic.png");
    background-size:cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    margin:auto;    
}
@media (max-width:500px) {
    .bottom-box-cover{
    height:50vh; 
    margin-bottom:5%;

    }
}

.bottom-box-text{
    margin: -23% 0 0 28%;
    width:50%;
}

@media (max-width:500px) {
    .bottom-box-text{
    margin:-52% 0 0 9%;
    width:80%;
    }
}

.bottom-box-text h2{
    color:white;
    margin-left: 12%;
}

.bottom-box-text p{
    color:rgb(252, 252, 252);
    line-height:1.4em;
}
@media (max-width:500px) {
    .bottom-box-text p{
    line-height:1em;
    color:rgb(250, 252, 252);
    font-weight:500;
    margin-bottom:3%;
    }
}
.bottom-box-text input{
    position: absolute;
    background: #F0F0F0;
    /* border-radius: 8px 0px 0px 8px; */
  }
  @media (max-width:500px) {
    .bottom-box-text input{
    display:block;
    padding:0.6%    
    }
}
.bottom-box-text button{
    display:box;
    width: 25%;
    height:4.2vh;
    margin-left:33%;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 24px;
    background: #F46032;
    border-radius: 0px 8px 8px 0px
    
    }
    @media (max-width:500px) {
        .bottom-box-text button{
        margin-left:53%; 
        border-radius: 0px 8px 8px 8px; 
       
        }
    }

.list-box{
    display:flex;
    justify-content: space-between;
    margin: 10%; 
    line-height:1.5em;   
}

@media (max-width:500px) {
    .list-box{
    line-height:1.3em;
    font-size:0.8rem;
    margin:6%   
    }
}
